# Курс "Python для анализа данных"

---
#4.2.2 Изменение формы и поворот

## Где мы сейчас?

<html>
 <head>
  <meta charset="utf-8">
 </head>
 <body>
  <ul>
    <li>1. Введение в анализ данных и разработку на языке Python </li> <!-2.1->
    <li>2. Основы языка </li> <!-2.1->
    <li>3. Библиотеки NumPy и SciPy для решения задач анализа данных и машинного обучения </li> <!-2.1->
    <li>4. <strong>Библиотека Pandas для работы с высокоуровневыми структурами данных</strong> <i><- Вот в этой главе!</i>
     <ul>
      <li>4.1 Введение в структуры данных Pandas</li>
      <li><strong>4.2 Переформатирование данных: очистка, преобразование, слияние, изменение формы</strong> <i><- Вот в этом параграфе!</i></li>
       <ul>
        <li>4.2.1 Комбинирование и слияние наборов данных</li>
        <li><strong>4.2.2 Изменение формы и поворот</strong><i> <- Вот в этом пункте!</i></li>
        <li>4.2.3 Преобразования данных</li>
       </ul>
     </ul>
    </li>   
  </ul>
 </body>
</html>

## О чем будем говорить?

О некоторых способах реорганизации табличных данных.

## Ключевые слова, понятия и выражения

*   ```pandas```
*   ```stack```
*   ```unstack```
*   ```pivot```

## Материал

### Использование ```stack```/```unstack```



*   ```stack``` - это поворот, который переносит данные из столбцов в строки
*   ```unstack``` - обратный поворот, который переносит данные из строк в столбцы

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'], name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [ ]:
result = data.stack()
print(type(result))
print('*'*30)
print(result.index)
print('*'*30)
result

<class 'pandas.core.series.Series'>
******************************
MultiIndex([(    'Ohio',   'one'),
            (    'Ohio',   'two'),
            (    'Ohio', 'three'),
            ('Colorado',   'one'),
            ('Colorado',   'two'),
            ('Colorado', 'three')],
           names=['state', 'number'])
******************************

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [ ]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
data2 = pd.concat([s1, s2], keys=['one', 'two'])
print(data2)
print('*'*30)
data2.unstack()

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64
******************************

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

In [ ]:
print(data2.unstack())
print('*'*30)
print(data2.unstack().stack())
print('*'*30)
print(data2.unstack().stack(dropna=False))

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0
******************************
one  a    0.0
     b    1.0
     c    2.0
     d    3.0
two  c    4.0
     d    5.0
     e    6.0
dtype: float64
******************************
one  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
two  a    NaN
     b    NaN
     c    4.0
     d    5.0
     e    6.0
dtype: float64

In [ ]:
df = pd.DataFrame({'left': result, 'right': result + 5},
                  columns=pd.Index(['left', 'right'], name='side'))
print(df)
print('*'*30)
print(df.unstack('state'))

side             left  right
state    number
Ohio     one        0      5
         two        1      6
         three      2      7
Colorado one        3      8
         two        4      9
         three      5     10
******************************
side   left          right
state  Ohio Colorado  Ohio Colorado
number
one       0        3     5        8
two       1        4     6        9
three     2        5     7       10

In [ ]:
df.unstack('state').stack('side')

state         Colorado  Ohio
number side
one    left          3     0
       right         8     5
two    left          4     1
       right         9     6
three  left          5     2
       right        10     7

### Использование ```pivot```

In [ ]:
from google.colab import files
files.upload()

{}

In [ ]:
print('Подготовка данных')
data = pd.read_csv('macrodata.csv')
data.head()
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                         name='date')
columns = pd.Index(['realgdp', 'infl', 'unemp'], name='item')
data = data.reindex(columns=columns)
data.index = periods.to_timestamp('D', 'end')
ldata = data.stack().reset_index().rename(columns={0: 'value'})

ldata[:10]

Подготовка данных

FileNotFoundError: ignored

In [ ]:
pivoted = ldata.pivot('date', 'item', 'value')
pivoted

In [ ]:
ldata['value2'] = np.random.randn(len(ldata))
ldata[:10]

In [ ]:
pivoted = ldata.pivot('date', 'item')
pivoted.head()

In [ ]:
pivoted['value2'][:5]

## Дополнительные материалы и литература



*   Уэс Маккинли, Python и анализ данных/ Пер. с англ. Слинкин А. А. - М.: ДМК Пресс, 2015. - 482 с.: ил. С. 212