# Курс "Python для анализа данных"

---
#6.1 Основы построения конвейера для обработки данных

## Где мы сейчас?

<html>
 <head>
  <meta charset="utf-8">
 </head>
 <body>
  <ul>
    <li>1. Введение в анализ данных и разработку на языке Python </li> 
    <li>2. Основы языка </li> 
    <li>3. Библиотеки NumPy и SciPy для решения задач анализа данных и машинного обучения </li> 
    <li>4. Библиотека Pandas для работы с высокоуровневыми структурами данных </li> 
    <li>5. Визуализации результатов анализа данных с использованием библиотек Matplotlib, Seaborn, Pandas </li>
    <li><strong>6. Роль и место библиотек языка Python в построении конвейера для обработки и анализа данных. Пример обработки известного датасета</strong> <i><- Вот в этой главе!</i></li>
     <ul>
      <li><strong>6.1 Основы построения конвейера для обработки данных</strong><i><- Вот в этом параграфе!</i></li>
      <li>6.2 Библиотека Pandas для загрузки и первичной обработки исходных данных</li>
      <li>6.3 Статистический анализ данных, получение корреляционных значений и отбор значимых признаков</li>
      <li>6.4 Итоговый вариант обработчика данных. Встраивание в процесс обучения модели машинного обучения.</li>
     </ul>
    </li>   
  </ul>
 </body>
</html>

## О чем будем говорить?

О типичной последовательности шагов по обработке и анализу данных перед использованием их в моделях машинного обучения.

## Ключевые слова, понятия и выражения

*   обработка и анализ данных
*   машинное обучение

## Материал

### Этапы работы специалиста по анализу данных и машинного обучения

![alt text](https://drive.google.com/uc?id=1ct-TRmls9bxmtyKn-k0XHhzD-OiI0xKe)

### О чем пойдет речь в данной главе

![alt text](https://drive.google.com/uc?id=1-IEtXAEgimv_HuNRbI6sVBXw7XBjoU4-)

### Принцип **GIGO**

![alt text](https://drive.google.com/uc?id=19o9gk0QpLaZcBLYI_2RHY2xyGB-DHX4T)

### Этапы предобработки данных

In [ ]:
import pandas as pd

pd.DataFrame({'Sex':['M','F',None],
              'Year':[1962,1963,2962],
              'Feature':[1,2,1],
              'Salary':[223,300,100000]})

    Sex  Year  Feature  Salary
0     M  1962        1     223
1     F  1963        2     300
2  None  2962        1  100000

Типичные проблемы данных:
1. Ошибки (опечатки и некорректные значения)
2. Пропуски
3. Выбросы
4. Подозрительная точность
5. Проблема сравнимости

Методы борьбы с проблемами в данных:
1. Ошибки - анализ частоты встречаемости с последующим решением о замене значения на среднее или типичное для набора или выбрасывании объекта из данных
2. Пропуски - анализ частоты встречаемости с последующим решением о замене значения на новое,среднее или типичное или выбрасывании объекта из данных
3. Выбросы - анализ причины, исходя из описания, и частоты встречаемости и с последующим решением о замене значения на новое,среднее или типичное или выбрасывании объекта из данных
4. Подозрительная точность - анализ причины 
5. Проблема сравнимости - разделение на сравнимые подклассы признаков

In [ ]:
https://www.kaggle.com/c/titanic

## Дополнительные материалы и литература



*   https://www.kaggle.com/c/titanic
*   https://www.kaggle.com/c/house-prices-advanced-regression-techniques
*   https://www.kaggle.com/c/cifar-10
*   https://www.kaggle.com/c/digit-recognizer