# Курс "Python для анализа данных"

---
# Домашнее задание LIGHT
#3.3.5 Решение специальных задач из области анализа данных и машинного обучения

In [1]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '3.3.5_LIGHT'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [2]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
В рамках блокнота с занятия повторите текст рекомендательной системы с собственными комментариями. Найдите в матрице ```X_pred``` среднее значение по столбцам и номер столбца с максимальным значением. 

**Формат ответа:**
Число (например, ```23```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('ratings.csv')
# масштабируем
input_list = df['movieId'].unique()

def scale_movie_id(input_id):
    return np.where(input_list == input_id)[0][0] + 1

df['movieId'] = df['movieId'].apply(scale_movie_id)

from sklearn.model_selection import train_test_split

# делим данные на тренировочный и тестовый наборы
train_data, test_data = train_test_split(df, test_size=0.20)
train_data.head()

# создаём две user-item матрицы – для обучения и для теста
train_data_matrix = np.zeros((n_users, n_items))

for line in train_data.itertuples():
    train_data_matrix[line[1] - 1, line[2] - 1] = line[3]  

test_data_matrix = np.zeros((n_users, n_items))

for line in test_data.itertuples():
    test_data_matrix[line[1] - 1, line[2] - 1] = line[3]

# делаем сингулярное разложение (ну и названьице)
import scipy.sparse as sp
from scipy.sparse.linalg import svds

u, s, vt = svds(train_data_matrix, k=10)

s_diag_matrix = np.diag(s)

# предсказываем
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)

In [ ]:
ans1 = (np.mean(X_pred, axis=0), np.argmax(X_pred.mean(axis=0)))

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
В рамках блокнота занятия добавьте к вектору ```y``` вектор той же длины со значениями, которые получены из стандартного нормального распределения. Найдите с помощью метода наименьших квадратов значения ```p[0]``` и ```p[1]```. Сделайте визуальную оценку полученных результатов, исходя из графиков.

**Формат ответа:** 
Кортеж чисел (например, ```(-1.23, 2.33)```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
import numpy as np
import scipy.stats as sts
from scipy.linalg import lstsq
import matplotlib.pyplot as plt

x = np.array([1, 2.5, 3.5, 4, 5, 7, 8.5])
y = np.array([0.3, 1.1, 1.5, 2.0, 3.2, 6.6, 8.6])
y += sts.norm().rvs(y.shape)

x[:, np.newaxis].shape
M = x[:, np.newaxis] ** [0, 1]
p, res, rnk, s = lstsq(M, y)

plt.plot(x, y, 'o', label='data')
xx = np.linspace(0, 9, 101)
yy = p[0] + p[1] * xx

plt.plot(xx, yy, label='least squares fit, $y = a + bx$')
plt.xlabel('x')
plt.ylabel('y')
plt.legend(framealpha=1, shadow=True)
plt.grid(alpha=0.25)
plt.show()

ans2 = (p[0], p[1])

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = ans2

## Комментарии участника

In [ ]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [ ]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

TypeError: NetworkError when attempting to fetch resource.
Something went wrong! Check the data entry and try again!