# Курс "Python для анализа данных"

---
# Домашнее задание LIGHT
#4.1.2 Применение функций и отображений, арифметические операции и выравнивание данных

In [1]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.1.2_LIGHT'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [2]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Найдите сумму заданных объектов ```DataFrame```, используя в качестве ```fill_value``` значения максимальный элемент среди всех элементов обоих объектов. Найдите минимальный элемент в полученной сумме.

**Формат ответа:** 
Число (например, ```3.8```)

**Оценка в баллах:** 3 балла

**Решение:**

In [9]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
x = float('-inf')
for i in (df1, df2):
  if i.max().max() > x:
    x = i.max().max()
print(x)
df3 = df1.add(df2, fill_value=x)
ans1 = df3.min().min()
print(ans1)

11.0
3.0

**Ответ:**

In [10]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
Создайте объект ```DataFrame``` размера ```(4,4)``` с автоматической индексацией, используя ```np.random.randn```. Напишите лямбда-функцию поиска среднего арифметического для входного массива. Примените указанную функцию ко всем столбцам созданного объекта. Найдите среди полученных средних максимальное значение.

**Формат ответа:** 
Число (например, ```0.78```)

**Оценка в баллах:** 3 балла

**Решение:**

In [12]:
a = np.random.randn(4,4)
data = pd.DataFrame(a)
data

          0         1         2         3
0  1.004066 -0.150859 -0.017242  0.545547
1 -0.154087  0.547960  0.047064  2.319027
2  1.405942  0.266369 -1.393442 -1.099548
3  0.222131  0.210573 -0.791677  0.063551

In [15]:
ans2_ = data.apply(lambda x: x.mean(), axis = 1)
ans2 = ans2_.max()
print(ans2)

0.689990989976482

**Ответ:**

In [16]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = ans2

## Задание 3

**Условие:** 
Напишите функцию, которая возвращает объект ```Series``` со значениями среднего(```mean```) и стандартного отклонения(```std```). Примените указанную функцию для объекта ```DataFrame``` из задания 2. Найдите минимальное отношение ```mean/std``` в полученном ```DataFrame```.

**Формат ответа:** 
Число (например, ```0.75```)

**Оценка в баллах:** 4 балла

**Решение:**

In [21]:
def t3(data):
  return pd.Series([data.mean(), data.std()], index=['mean', 'std'])

data3 = data.apply(t3)
data3

             0         1         2         3
mean  0.619513  0.218511 -0.538824  0.457144
std   0.712442  0.287126  0.685473  1.420402

In [26]:
ans3_ = data3.apply(lambda x: x['mean']/x['std'])
ans3_

0    0.869563
1    0.761027
2   -0.786062
3    0.321841
dtype: float64

In [27]:
print(ans3)

-0.7860622195534336

**Ответ:**

In [28]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A3'] = ans3

## Комментарии участника

In [29]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [30]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

Thanks for the work, Vladimir!