# Курс "Python для анализа данных"

---
# Домашнее задание LIGHT
#4.1.3 Редукция и вычисление описательных статистик. Обработка отсутствующих данных

In [ ]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.1.3_LIGHT'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [ ]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Импортируйте библиотеку pandas и создайте pandas dataframe как на картинке ниже

<img src="https://drive.google.com/uc?id=1onR9Vfyvnerdjnnf8EavR6GdRkrp5xK0">

Для данной таблицы сделайте следующее:


1.   Посчитайте средний рейтинг фильмов в жанре "Drama"
2.   Посчитайте средневзвешенный рейтинг всех фильмов в жанре "Drama", используя формулу:
$$\frac{\sum{Rating_i * Votes_i}}{\sum{Votes_i}}$$

Для нахождения требуется использование только встроенных методов библиотеки ```pandas```. В ответе требуется указать полученные значения. 



**Формат ответа:** 
Кортеж чисел (например, ```(3.8,4.2)```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
import pandas as pd

df=pd.DataFrame({'Year':[2015,2014,2013,2012],'MovieName':['Bajirao Mastanti','Queen','Bhaag Milkha Bhaag','Barfi1'],
                 'Rating':[7.2,8.4,8.3,8.2], 'Votes':[17362,39518,39731,52308], 'Genre':['Drama','Drama','Drama','Family'],
                 'RunTime':[158,146,186,151], 'Director':['Sanjay Leela Bhanasali','Vikas Bahl','Rakeysh Omprakash Mehra','Anurag Basu']})
drama_ev_rating=df['Rating'][df.Genre=='Drama'].mean()
drama_weith=df['Rating'][df.Genre=='Drama'].sum()*df['Votes'][df.Genre=='Drama']/df['Votes'][df.Genre=='Drama'].sum()
ans1=[drama_ev_rating, drama_weith.values]
print(ans1)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
Используя соответствующую функцию библиотеки ```pandas```, подгрузите датасет оценки стоимости жилья ```house_price.csv```. Выведите на экран первые ```5``` строчек файла (метод ```head```). Найдите год постройки объекта в ```56``` строке.

**Формат ответа:** 
Число (например, ```1998```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
from google.colab import files
files.upload()

In [ ]:
df = pd.read_csv('house_price.csv',sep=',')
df.head(5)

In [ ]:
ans2 = df['YearBuilt'][56]
print(ans2)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = ans2

## Задание 3

**Условие:** 
Для подгруженного датасета из предыдущей задачи:
* посчитайте количество записей
* определите тип данных в каждом столбце
* проверьте наличие пропущенных значений

Найдите названия столбца с наибольшим количеством пропущенных значений.

**Формат ответа:** 
Строка (например, ```'BuiltYear'```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
df.count()
# 1460

In [ ]:
df.info()
# тип данных

In [ ]:
isnul = df.isnull()
ans3 = pd.Series.idxmin(df.count(axis=0))
print(ans3)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A3'] = ans3

## Задание 4

**Условие:** 
Используя соответствующий встроенный метод, выведите на экран описательные статистики для датасета из предыдущей задачи. Найдите среднее значение стоимости жилья.

**Формат ответа:** 
Число (например, ```28000```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
df.describe()

In [ ]:
ans4 = df.describe()['SalePrice']['mean']
print(ans4)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A4'] = ans4

## Комментарии участника

In [ ]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [ ]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

TypeError: NetworkError when attempting to fetch resource.
Something went wrong! Check the data entry and try again!