# Курс "Python для анализа данных"

---
# Домашнее задание LIGHT
#4.1.1 Работа с объектами Series, DataFrame. Переиндексация, доступ по индексу, выборка, фильтрация

In [1]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.1.1_LIGHT'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [2]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Создайте массив ```ndarray``` размера ```10``` элементов, взятых из стандартного нормального распределения, используя модуль ```scipy.stats```. Создайте объект ```pd.Series```, значениями которого являются элементы созданого массива, а индексы взяты по умолчанию.  Найдите сумму всех неотрицательных элементов в полученном объекте, используя методы объекта ```Series```. 

**Формат ответа:** 
Число (например, ```3.8```)

**Оценка в баллах:** 3 балла

**Решение:**

In [5]:
from scipy import stats
import pandas as pd
import numpy as np

a = stats.norm.rvs(size=10)
a = pd.Series(a)
ans1 = a[a>=0].sum()
print(ans1)

3.620783588323426

**Ответ:**

In [6]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
Используя ```DataFrame```, указанный в Решении, найдите строку, в которой произведение элементов из столбцов ```'one'``` и ```'four'``` дает значение ```88```. Используйте подвыборку с условием, но не циклы.

**Формат ответа:** 
Строка (например, ```'New York 	'```)

**Оценка в баллах:** 3 балла

**Решение:**

In [9]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
ans2 = data[data['one']*data['four'] == 88].index
print(ans2)

Index(['Utah'], dtype='object')

**Ответ:**

In [30]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = 'Utah'

## Задание 3

**Условие:** 
Используя ```DataFrame```, указанный в Решении, замените значения, которые больше ```1``` и являются простыми числами, на ```0```. Найдите сумму всех столбцов в полученном ```DataFrame``` и в ответе укажите значение в строке под номером ```3```.

**Формат ответа:** 
Число (например, ```21```)

**Оценка в баллах:** 4 балла

**Решение:**

In [25]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
for i in (2,3,5,7,9,11,13):
  data[data==i]=0
data

          one  two  three  four
Ohio        0    1      0     0
Colorado    4    0      6     0
Utah        8    0     10     0
New York   12    0     14    15

In [24]:
ans_ = dict(one = data['one'].sum(), two = data['two'].sum(), three = data['three'].sum(), four = data['four'].sum())
ans_

{'four': 15, 'one': 24, 'three': 30, 'two': 1}

**Ответ:**

In [26]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A3'] = 30

## Комментарии участника

In [27]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [31]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

Thanks for the work, Vladimir!