# Курс "Python для анализа данных"

---
# Домашнее задание PRO
#4.2.2 Изменение формы и поворот

In [1]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.2.2_PRO'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [2]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Сделайте операцию ```stack``` для указанного ниже массива ```DataFrame```, а потом к полученному результату примените метод ```unstack```. Создайте строку ```Markdown``` и прокомментрируйте в ней, что происходит с данными при выполнении каждой операции. Укажите в ответе тип индекса полученного объекта, при выполнении операции ```unstack```.

**Формат ответа:** 
Строка (например, ```'Index'```)

**Оценка в баллах:** 3 балла

**Решение:**

In [4]:
import pandas as pd
import numpy as np

df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],
                                    index=['cat', 'dog'],
                                    columns=['weight', 'height'])
df_single_level_cols

     weight  height
cat       0       1
dog       2       3

In [5]:
df1 = df_single_level_cols.stack()
df1

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [6]:
df2 = df1.unstack()
df2

     weight  height
cat       0       1
dog       2       3

При .stack() преобразовании у нас получается мультииндексовая серия. Меня немного ставит в ступор комментирование.. Потом возвращается назад. Что от меня ожидается? =((

In [9]:
ans1 = type(df2.index)
print(ans1)

<class 'pandas.core.indexes.base.Index'>

**Ответ:**

In [10]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = str(ans1)

## Задание 2

**Условие:** 
Добавьте к массиву из задания 1 столбец ```data``` с произвольными целочисленными значениями. Сделайте сводные таблицы с использование метода ```pivot``` и для различных комбинаций данных в параметрах ```(index,columns,values)```. Укажите в ответе количество составленных таблиц.

**Формат ответа:** 
Число (например, ```4```)

**Оценка в баллах:** 3 балла

**Решение:**

In [11]:
df_single_level_cols['data'] = np.random.randint(1, 100, 2)
print(df_single_level_cols)
df = df_single_level_cols.pivot('weight', 'height', 'data')
print(df)
df = df_single_level_cols.pivot('weight', 'data', 'height')
print(df)
df = df_single_level_cols.pivot('height', 'weight', 'data')
print(df)
df = df_single_level_cols.pivot('data', 'weight', 'height')
print(df)
df = df_single_level_cols.pivot('height', 'data', 'weight')
print(df)
df = df_single_level_cols.pivot('data', 'height', 'weight')
print(df)

     weight  height  data
cat       0       1    20
dog       2       3    78
height     1     3
weight
0       20.0   NaN
2        NaN  78.0
data     20   78
weight
0       1.0  NaN
2       NaN  3.0
weight     0     2
height
1       20.0   NaN
3        NaN  78.0
weight    0    2
data
20      1.0  NaN
78      NaN  3.0
data     20   78
height
1       0.0  NaN
3       NaN  2.0
height    1    3
data
20      0.0  NaN
78      NaN  2.0

**Ответ:**

In [12]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = 6

## Комментарии участника

In [13]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [14]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

Thanks for the work, Vladimir!