# Курс "Python для анализа данных"

---
# Домашнее задание PRO
#4.1.3 Редукция и вычисление описательных статистик. Обработка отсутствующих данных

In [ ]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.1.3_PRO'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [ ]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Используя соответствующую функцию библиотеки ```pandas```, подгрузите датасет оценки стоимости жилья ```house_price.csv```. Используя встроенный метод ```.drop()```, удалите из таблицы все столбцы, у которых количество пропущенных значений больше ```200```.

Предлагается следующая последовательность действий:

* найдите все такие столбцы (метод ```.isna()``` + подвыборка с условием)
* определите их названия (по цепочке примените методы ```.index```, ```.tolist()``` или ```.values```)
* удалите найденные столбцы (используйте метод ```.drop([имена столбцов])```)
* сохраните результат в новой таблице (например, ```data_clean```), при этом оставьте исходную таблицу без изменений

Найдите количество удаленных столбцов.

**Формат ответа:** 
Число (например, ```21```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('house_price.csv', sep=',')
start = df.isna().apply(lambda x: np.sum(x) > 200)
mask = start.isin([True])
cols = start[mask].index.tolist()
data_clean = df.drop(cols, axis = 1)
ans1 = len(cols)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
В финальном датасете ```data_clean``` из прошлой задачи удалите все строки с пропусками в данных, используя встроенный метод ```.dropna()```. Выполните данное действие с параметром ```inplace=True```, т.е. измените таблицу. Найдите размер полученного датасета.

**Формат ответа:** 
Кортеж чисел (например, ```(1398,55)```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
data_clean.dropna(inplace=True)
ans2 = data_clean.shape

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = ans2

## Задание 3

**Условие:** 
Исходный датасет из задания 1 содержит информацию о проданных домах. Найдите все дома, проданные в ```2007``` году, у которых цена продажи выше ```300000``` и есть бассейн. Для подвыборки с указанными условиями сначала создайте маску.
Найдите количество объектов, удовлетворяющих условию задачи.

Указание:

* цена продажи ```SalePrice```
* год продажи ```YrSold```
* наличие бассейна ```PoolArea```

**Формат ответа:** 
Число (например, ```275```)

**Оценка в баллах:** 4 балла

**Решение:**

In [ ]:
mask = (df.YrSold == 2007) & (df.SalePrice > 300000) & (df.PoolArea > 1)
ans3 = df[mask].shape[0]

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A3'] = ans3

## Комментарии участника

In [ ]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [ ]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

TypeError: NetworkError when attempting to fetch resource.
Something went wrong! Check the data entry and try again!