# Курс "Python для анализа данных"

---
# Домашнее задание PRO
#4.2.3 Преобразования данных

In [1]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.2.3_PRO'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [2]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Создайте массив ```DataFrame``` со столбцами ```key```  и ```data``` с ```50``` строками. В каждом массиве заполните столбец ```key``` случайным набором элементов из множества ```{a,b,c,d,e,f}```, а столбец ```data``` - случайным набором элементов из множества ```{-1,1}```. Сделайте следующие преобразования:

*   удалите дубликаты (```drop_duplicates```)
*   сделайте замену в столбце ```key``` (```{'a':0,b:'1',...,'f':5}``` и ```map```)
*   сделайте замену в столбце ```data```, заменив ```-1``` на ```0``` (```replace```)

Укажите количество строк в полученном ```DataFrame```.

**Формат ответа:** 
Число (например, ```25```)

**Оценка в баллах:** 3 балла

**Решение:**

In [4]:
import pandas as pd
import numpy as np

keys = ['a', 'b', 'c', 'd', 'e', 'f']
data = [-1,1]
df1 = pd.DataFrame({'key': np.random.choice(keys, size=50), 'data': np.random.choice(data, size=50)})
df2 = df1.drop_duplicates()
map_={'a':0,'b':1,'c':2,'d':3,'e':4,'f':5}
df2.key=df2.key.map(map_)
df3 = df2.replace({-1:0})
ans1 = df3.shape[0]
df3

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

    key  data
0     5     0
1     3     0
2     4     1
3     0     0
4     1     1
5     5     1
6     4     0
7     0     1
9     2     1
11    2     0
28    3     1
47    1     0

**Ответ:**

In [5]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
Используя преобразованный массив ```DataFrame``` из задания 1 и метод ```get_dummies```, перекодируйте значения в столбце ```key```. Проделайте следующие действия:


*   создайте новый массив с полученными закодированными данными и выведите описательные статистики, используя необходимый метод
*   нормализуйте данный массив, сдвинув на среднее и поделив на среднеквадратичное отклонения в соответствующих столбцах
*   найдите минимальное и максимальное значения в полученном массиве.

**Формат ответа:** 
Кортеж (например, ```(-0.71,0.87)```)

**Оценка в баллах:** 3 балла

**Решение:**

In [8]:
df4 = pd.get_dummies(df3.key)
df5 = df4.join(df3.data)
df5.describe()

               0          1          2  ...          4          5       data
count  12.000000  12.000000  12.000000  ...  12.000000  12.000000  12.000000
mean    0.166667   0.166667   0.166667  ...   0.166667   0.166667   0.500000
std     0.389249   0.389249   0.389249  ...   0.389249   0.389249   0.522233
min     0.000000   0.000000   0.000000  ...   0.000000   0.000000   0.000000
25%     0.000000   0.000000   0.000000  ...   0.000000   0.000000   0.000000
50%     0.000000   0.000000   0.000000  ...   0.000000   0.000000   0.500000
75%     0.000000   0.000000   0.000000  ...   0.000000   0.000000   1.000000
max     1.000000   1.000000   1.000000  ...   1.000000   1.000000   1.000000

[8 rows x 7 columns]

In [9]:
df6 = (df5-df5.mean(axis=0))/df5.std(axis=0)
df6

           0         1         2         3         4         5      data
0  -0.428174 -0.428174 -0.428174 -0.428174 -0.428174  2.140872 -0.957427
1  -0.428174 -0.428174 -0.428174  2.140872 -0.428174 -0.428174 -0.957427
2  -0.428174 -0.428174 -0.428174 -0.428174  2.140872 -0.428174  0.957427
3   2.140872 -0.428174 -0.428174 -0.428174 -0.428174 -0.428174 -0.957427
4  -0.428174  2.140872 -0.428174 -0.428174 -0.428174 -0.428174  0.957427
5  -0.428174 -0.428174 -0.428174 -0.428174 -0.428174  2.140872  0.957427
6  -0.428174 -0.428174 -0.428174 -0.428174  2.140872 -0.428174 -0.957427
7   2.140872 -0.428174 -0.428174 -0.428174 -0.428174 -0.428174  0.957427
9  -0.428174 -0.428174  2.140872 -0.428174 -0.428174 -0.428174  0.957427
11 -0.428174 -0.428174  2.140872 -0.428174 -0.428174 -0.428174 -0.957427
28 -0.428174 -0.428174 -0.428174  2.140872 -0.428174 -0.428174  0.957427
47 -0.428174  2.140872 -0.428174 -0.428174 -0.428174 -0.428174 -0.957427

In [11]:
ans2 = (df6.values.min(), df6.values.max())
print(ans2)

(-0.9574271077563381, 2.1408720964441885)

**Ответ:**

In [12]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = ans2

## Комментарии участника

In [13]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [14]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

Thanks for the work, Vladimir!