# Курс "Python для анализа данных"

---
# Домашнее задание LIGHT
#4.1.4 Иерархическое индексирование

In [ ]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '4.1.4_LIGHT'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [ ]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Выполните следующую последовательность действий:

* подгрузите данные ```'ShopData.csv'``` (возможно придется указать кодировку ```encoding='сp1250'```)
* преобразуйте колонку ```Invoice Date``` в ```DateTimeIndex```
* удалите колонку ```Invoice Date```
* сохраните получившуюся таблицу в новую переменную ```data```

Укажите дату последней записи, найдя последнее значение атрибута ```.index```.


**Формат ответа:** 
Строка (например, ```'2010-08-05 12-10-10'```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import pandas as pd
df = pd.read_csv('ShopData.csv',encoding='cp1250', sep=',')
df

In [ ]:
df.index = pd.to_datetime(df.InvoiceDate)
data = df.drop(columns='InvoiceDate')
ans1 = data.index[-1]
print(ans1)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = ans1

## Задание 2

**Условие:** 
Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого выполните следующую последовательность действий:

* сделайте подвыборку, соответствующую условию "в понедельник", используйте метод ```datetime``` индекса ```weekday_name```
* посчитайте количество уникальных ```ID``` клиентов

**Формат ответа:** 
Число (например, ```275```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
temp = data[data.index.weekday==0].dropna()
ans2 = len(temp.CustomerID.unique())
print(ans2)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = ans2

## Задание 3

**Условие:** 
Создайте новый столбец ```TotalCost``` со значениями ```Quantity * UnitPrice```. Сделайте ```resampling``` данных в еженедельные со значениями суммы по столбцам ```TotalCost```. Найдите максимальное значение в столбце ```TotalCost```.

**Формат ответа:** 
Число (например, ```'12362'```)

**Оценка в баллах:** 3 балла

**Решение:**

In [ ]:
data['TotalCost'] = data.Quantity * data.UnitPrice
ans3 = round(data.resample('W').sum().TotalCost.max(), 2)
print(ans3)

**Ответ:**

In [ ]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A3'] = ans3

## Комментарии участника

In [ ]:
_YOUR_COMMENT_ = 'All right!'

## Создание отчета

In [ ]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

TypeError: NetworkError when attempting to fetch resource.
Something went wrong! Check the data entry and try again!