# Курс "Python для анализа данных"

---
# Домашнее задание LIGHT
#2.1 Быстрое введение. Синтаксические основы языка Python

In [0]:
# Запустите код ниже для старта, но не правьте во избежания ошибок проверки!
_HOMEWORK_NAME_ = '2.1_LIGHT'
_HOMEWORK_ANSWER_DICT_ = dict()

## ФИО участника

In [0]:
# Введите ваше имя и фамилию в соответствующую позицию 'NAME' и 'LAST_NAME'!
_NAME_SERNAME_ = {
    'NAME' : 'Vladimir',
    'LAST_NAME' : 'Doronin'
}

## Задание 1

**Условие:** 
Создайте коллекцию данных типа ```tuple``` из элементов различных типов данных.

**Формат ответа:** 
Кортеж (например, ```(1,'str',2.7)```)

**Оценка в баллах:** 3 балла

**Решение:**

In [0]:
a = (42, 'mmm', [3,4,5])
print(type(a))

<class 'tuple'>

**Ответ:**

In [0]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A1'] = a

## Задание 2

**Условие:** 
Проверьте на истинность выражения : 

*   ```1 > 2```
*   ```3**2 > 2**3```
*   ```'a' < 'b'```
*   ```'c' < 'b'```
*   ```'a' in ['b','a','c']```


**Формат ответа:** 
Кортеж из булевых значений (например, ```(True, False, True,False, True)```)

**Оценка в баллах:** 3 балла

**Решение:**

In [0]:
b = (1 > 2, 3**2 > 2**3, 'a' < 'b', 'c' < 'b', 'a' in ['b','a','c'])
print(b)

(False, True, True, False, True)

**Ответ:**

In [0]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A2'] = b

## Задание 3

**Условие:** 
Напишите функцию ```f_abs()``` нахождения модуля числа, которая получает на вход число и возвращает его, если оно положительно, иначе возвращает число с обратным знаком.
Примените ее к числу ```170**2 - 150**3```.

**Формат ответа:** 
Число (например, ```-20```)

**Оценка в баллах:** 4 балла

**Решение:**

In [0]:
def f_abs(n):
  if n > 0:
    return n
  else:
    return -n

assert f_abs(0) == 0
c = f_abs(170**2 - 150**3)

**Ответ:**

In [0]:
# Не изменяйте текст до знака = во избежании ошибок проверки!
_HOMEWORK_ANSWER_DICT_['A3'] = c

## Комментарии участника

In [0]:
_YOUR_COMMENT_ = 'All right! Thank you for check my work)'

## Создание отчета

In [0]:
# Проверьте правильность заполнения полей и 
# выполните данный код для создания отчета
# и сохранения на локальную машину
from google.colab import files
import json
try:
  # form a report
  _HM_REPORT_ = {'Answers':_HOMEWORK_ANSWER_DICT_,
                'Comment':_YOUR_COMMENT_,
                'User':_NAME_SERNAME_,
                }

  # create a report name
  _REPORT_NAME_ = 'HM_' +\
                    _HOMEWORK_NAME_ + \
                  '_by_' + \
                  _NAME_SERNAME_['LAST_NAME'] + \
                  '.json'
  
  # Save a report to a file
  f = open(_REPORT_NAME_,"w")
  f.write(json.dumps(_HM_REPORT_))
  f.close()

  # Donwnload the file into a local host
  files.download(_REPORT_NAME_) 
  print('Thanks for the work, {name}!'.format(name=_NAME_SERNAME_['NAME']))
except Exception as error:
   print(error)
   print('Something went wrong! Check the data entry and try again!')

Thanks for the work, Vladimir!